<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-admin-top></app-admin-top>
    <mat-progress-bar mode="indeterminate" *ngIf="!serverResponse"></mat-progress-bar>
    <div class="example-container mat-elevation-z8">

      <mat-card>
          <button mat-raised-button color="primary" [routerLink]="['/admin/add_question']" ><i  class="material-icons">control_point</i>
          </button>
      </mat-card>     
      <mat-table [dataSource]="dataSource" class="ma_cat">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef >
            Title
          </mat-header-cell>
          <mat-cell *matCellDef="let question">
            {{question.title}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="option_one_value">
          <mat-header-cell *matHeaderCellDef > Answer One </mat-header-cell>
          <mat-cell *matCellDef="let question">{{question.option_one_value }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="option_two_value">
          <mat-header-cell *matHeaderCellDef > Answer Two </mat-header-cell>
          <mat-cell *matCellDef="let question">{{question.option_two_value }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="option_three_value">
          <mat-header-cell *matHeaderCellDef > Answer Three </mat-header-cell>
          <mat-cell *matCellDef="let question">{{question.option_three_value }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="option_four_value">
          <mat-header-cell *matHeaderCellDef > Answer Four </mat-header-cell>
          <mat-cell *matCellDef="let question">{{question.option_four_value }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="correct_option">
          <mat-header-cell *matHeaderCellDef > Correct Answer  </mat-header-cell>
          <mat-cell *matCellDef="let question">{{question.correct_option }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="_id">
            <mat-header-cell *matHeaderCellDef > Actions  </mat-header-cell>
            <mat-cell *matCellDef="let question">
                <a [routerLink]="['/admin/edit-question/',question._id]">
                  <mat-icon aria-label="Example icon-button with a edit icon">edit</mat-icon>
                </a> 
                <button mat-icon-button color="warn" (click)="deleteQuestion(question._id)">
                  <mat-icon aria-label="Example icon-button with a delete icon" >delete</mat-icon>
                </button>
            </mat-cell>

          </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    
  </div>
</div>    