<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-admin-top></app-admin-top>
    
    <mat-card class="ma_cat">
        <mat-progress-bar mode="indeterminate" *ngIf="serverResponse"></mat-progress-bar>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <mat-card>
              <form [formGroup]="changePasswordFrom" (ngSubmit)="onSubmit()">
                <mat-grid-list cols="6">
                  <mat-form-field class="example-full-width">
                      <input  matInput type="password" placeholder="Old Password" formControlName = "old_password" name="old_password" #old_password (blur)="update(old_password.value)"  >
                  </mat-form-field>
                  <span style="color: red" *ngIf="!changePasswordFrom.controls['old_password'].valid && changePasswordFrom.controls['old_password'].touched">Please enter old password </span>              
                  <span style="color: red" *ngIf="changePasswordFrom.controls['old_password'].old_password_errors && changePasswordFrom.controls['old_password'].touched">Old password does not match </span>              
                  
                </mat-grid-list>

                <mat-grid-list cols="6">
                  <mat-form-field class="example-full-width">
                      <input matInput type="password" placeholder="New Password" formControlName = "new_password" name="new_password">
                  </mat-form-field>
                  <span style="color: red" *ngIf="!changePasswordFrom.controls['new_password'].valid && changePasswordFrom.controls['new_password'].touched">PLease enter new password </span>              
                </mat-grid-list>

                <mat-grid-list cols="6">
                  <mat-form-field class="example-full-width">
                      <input matInput type="password" placeholder="Confirm Password" formControlName = "confirm_password" name="confirm_password">
                  </mat-form-field>
                  <span style="color: red" *ngIf="!changePasswordFrom.controls['confirm_password'].valid && changePasswordFrom.controls['confirm_password'].touched">New password does not match confirm password </span>              
                </mat-grid-list>

                <div class="button-row">
                    <button  mat-raised-button color="primary" [disabled]="!changePasswordFrom.valid">Primary</button>
                </div>

              </form>
            </mat-card>  
        </div>
        <div class="col-md-3">
          
        </div>
      </div>
    </mat-card>
  </div>
</div>    