<div class="modal-dialog">
  <div class="loginmodal-container">
    <mat-progress-bar mode="indeterminate" *ngIf="serverResponse"></mat-progress-bar>
    <h1>Reset New Password</h1><br>
    
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your new Password" formControlName="new_password" name="new_password" required autocomplete="off">
        </mat-form-field>
        <span style="color: red" *ngIf="!resetPasswordForm.controls['new_password'].valid && resetPasswordForm.controls['new_password'].touched"> Please enter new password</span>
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your confirm Password" formControlName="confirm_password" name="confirm_password" required autocomplete="off">
        </mat-form-field>
        <span style="color: red" *ngIf="!resetPasswordForm.controls['confirm_password'].valid && resetPasswordForm.controls['confirm_password'].touched"> New password and confirm password does not match.</span>
        <div class="button-row">
           <button mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid">Primary</button>
        </div>
    </form>   
    <div class="login-help">
    <a routerLink="/admin">Login</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
  