<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-admin-top></app-admin-top>
    <mat-progress-bar mode="indeterminate" *ngIf="!serverResponse"></mat-progress-bar>
    <div class="example-container mat-elevation-z8">

      <mat-card>
          <!-- <button mat-raised-button color="primary"  (click)="openDialog()"><i  class="material-icons">file_download</i>
          </button>

          <button mat-raised-button color="primary"  (click)="openDialog()"><i  class="material-icons">file_upload</i>
          </button> -->

          <button mat-raised-button color="primary" (click)="openDialog()"><i  class="material-icons">control_point</i>
          </button>
         
      </mat-card>
        <mat-table [dataSource]="dataSource" class="ma_cat" matSort > 
        <!-- create a column-->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </mat-header-cell>
          <mat-cell *matCellDef="let category">{{category.name }}</mat-cell>
        </ng-container>   
        
        <ng-container matColumnDef="is_publish">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Is Publish </mat-header-cell>
          <mat-cell *matCellDef="let category">{{category.is_publish?'Yes':'No'}}</mat-cell>
        </ng-container>   

        <ng-container matColumnDef="_id">
          <mat-header-cell *matHeaderCellDef >Actions </mat-header-cell>
          <mat-cell *matCellDef="let category">
              <a href="javascript:void(0)" (click)="editOpenDailog(category._id)">
                <mat-icon aria-label="Example icon-button with a edit icon">edit</mat-icon>
              </a>

            <button mat-icon-button color="warn" (click)="deleteSetting(category._id)">
              <mat-icon aria-label="Example icon-button with a delete icon" >delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>   
       

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"  [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
    
  </div>
</div>    