<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-admin-top></app-admin-top>
    <mat-progress-bar mode="indeterminate" *ngIf="!serverResponse"></mat-progress-bar>
    <div class="example-container mat-elevation-z8">
        <!-- <div class="alert alert-danger" *ngIf="errormessage">{{errormessage}}</div> -->
        <!-- <div class="alert alert-success" *ngIf="successmessage">{{successmessage}}</div> -->
        
        <mat-table [dataSource]="dataSource" class="ma_cat">
        <!-- create a column-->
        <ng-container matColumnDef="setting_label">
          <mat-header-cell *matHeaderCellDef> Setting Label </mat-header-cell>
          <mat-cell *matCellDef="let setting">{{setting.setting_label}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef> created At </mat-header-cell>
          <mat-cell *matCellDef="let setting">{{setting.createdAt | date:'fullDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef> Update At</mat-header-cell>
          <mat-cell *matCellDef="let setting">{{setting.updatedAt | date:'fullDate'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="_id">
          <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
          <mat-cell *matCellDef="let setting">
              <a routerLink="/admin/edit-setting/{{setting._id}}">
                <mat-icon aria-label="Example icon-button with a edit icon">edit</mat-icon>
              </a> 
              <button mat-icon-button color="warn" (click)="deleteSetting(setting._id)">
                <mat-icon aria-label="Example icon-button with a delete icon" >delete</mat-icon>
              </button>
              </mat-cell>
          
          
        </ng-container>
       

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"  [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
      
  </div>
</div>