<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-admin-top></app-admin-top>
    <mat-progress-bar mode="indeterminate" *ngIf="!serverResponse"></mat-progress-bar>
    <div class="example-container mat-elevation-z8">
        
        <mat-table [dataSource]="dataSource" class="ma_cat">
        <!-- create a column-->
        <ng-container matColumnDef="setting_label">
          <mat-header-cell *matHeaderCellDef (click)="sort('setting_label')"> Setting Label </mat-header-cell>
          <mat-cell *matCellDef="let setting">{{setting.setting_label}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef (click)="sort('createdAt')"> created At </mat-header-cell>
          <mat-cell *matCellDef="let setting">{{setting.createdAt | date:'fullDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef (click)="sort('updatedAt')"> Update At</mat-header-cell>
          <mat-cell *matCellDef="let setting">{{setting.updatedAt | date:'fullDate'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="_id">
          <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
          <mat-cell *matCellDef="let setting">
              <a [routerLink]="['/admin/edit-setting/',setting._id]">
                <mat-icon aria-label="Example icon-button with a edit icon">edit</mat-icon>
              </a> 
              <button mat-icon-button color="warn" (click)="deleteSetting(setting._id)">
                <mat-icon aria-label="Example icon-button with a delete icon" >delete</mat-icon>
              </button>
              </mat-cell>
          
          
        </ng-container>
       

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-card class="pagination_cart"> 
          <mat-card-actions>
              
              <app-pagination [paginationArray]="pageCount" [moduleName]="module_name"  (dataEvent)="receiveMessage($event)"></app-pagination>
            </mat-card-actions>  
        
      </mat-card>
     
    </div>
      
  </div>
</div>