<header>
    <!-- start top -->
    <div id="topnav" class="navbar navbar-fixed-top default">
      <div class="navbar-inner">
        <div class="container">
          <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="" /></a>
          </div>
          <div class="navigation">
            <nav>
              <ul class="nav pull-right">
                <li  routerLinkActive="current" [routerLinkActiveOptions]="{exact : true}"><a routerLink="/" >Home</a></li>
                <li routerLinkActive="current"><a routerLink="/login">Login</a></li>
                <li routerLinkActive="current"><a routerLink="/register">Register</a></li>               
                <li class="dropdown">
                  <a href="#">Features <i class="icon-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="components.html" class="external">Components</a></li>
                    <li><a href="icons.html" class="external">Icons</a></li>
                    <li><a href="animations.html" class="external">56 Animations</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end top -->
  </header>